<ul id="comments" class="list-unstyled">
  <% @recipe.comments.each do |comment| %>
  <li>
    <div class="card">
      <div class="card-header">
        <small><strong><%= comment.user.name.to_s %></strong> - <%= comment.updated_at.strftime("%e %B %Y %H:%M %p") %></small>
      </div>
      <div class="card-body">
          <p>
           <%= comment.message %> 
           <% if owner?(comment) %>
            <span class="comment-options">
              <%= link_to "Edit", edit_recipe_comment_path(@recipe, comment) %> | <%= link_to "Delete", recipe_comment_path(@recipe, comment), method: :delete %>
            </span>
           <% end %>
         </p>
     </div>
   </div>
  </li>
 <% end %>
</ul>