<% if @recipe.errors.any? %>
  <div id="error_explanation" class="alert alert-danger alert-dismissible fade show" role="alert">
    <h3>There were some errors:</h3>
    <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  </div>
<% end %>

<%= form_for @recipe, html: { multipart: true } do |f| %>
 
  <div class="form-group">
    <%= f.label :title, "Recipe Title" %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group form-row">
    <div class="col">
      <%= f.label :prep_time %>
      <%= f.number_field :prep_time, placeholder: "(in minutes)", class: 'form-control' %>
    </div>   

    <div class="col">
      <%= f.label :category, "Category WRONG" %>
      <%= f.text_field :category, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description, "Instructions" %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <p>Category</p>
    <%= f.collection_select :category_ids, Category.all, :id, :name, {}, {multiple: true} %>

    <%= f.fields_for :categories, @recipe.categories.build do |categories_fields| %>
      <%= categories_fields.text_field :name %>
    <% end %>
    
  </div>
  
  <div class="form-group">
    <fieldset>
      <p>
        Ingredients
      </p>
      <%= f.fields_for :ingredients do |ingredient| %>
        <%= render 'ingredient_fields', f: ingredient %>
      <% end %>

      <div class="links">
        <%= link_to_add_association '+ add ingredient', f, :ingredients, class: 'btn btn-outline-primary add-ingredient' %>
      </div>
    </fieldset>
  </div>

  <div class="form-group">
    <fieldset>
      <%= f.label :image, "Upload Image" %>
      <%= f.file_field :image, class: 'form-control-file' %>
    </fieldset>
  </div>

  <div class="form-buttons">
    <%= f.submit class: 'btn btn-lg btn-primary' %>
  </div>
<% end %>