<h1><%= @recipe.title %></h1>

<h4><%= @recipe.category %><h4>
<p>Prep Time: <%= @recipe.prep_time %> minutes</p>

<h3>Ingredients</h3>
<ul>
  <% @recipe.ingredients.each do |ingredient| %>
    <li><%= ingredient.quantity %> - <%= ingredient.name %></li>
  <% end  %>
</ul>

<h3>Instructions</h3>
<%= @recipe.description %>

<!-- form to create comment -->
<!-- show recipe.comments.each  -->


<br><br>
<%= link_to "Back to Recipes", root_path %> 
<%= link_to "Edit", edit_recipe_path(@recipe) %>
<%= button_to "Delete", @recipe, method: :delete, data: { confirm: "Are you sure you want to delete this recipe?"} %>
