<!DOCTYPE html>
<html>
  <head>
    <title>Recp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Amatic+SC|Raleway" rel="stylesheet">
  </head>

  <body>
  <%= render 'layouts/navbar' %>

  <div id='content' class="container">
    <%= render 'layouts/flash_messages' %>

    <%= yield %>
  </div>

  </body>
</html>
